/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/

.panel-title{
  background-image: url(img/icon/fon5.jpg); 
  color:white; height: 36px;
  text-indent: 10px; 
  font-size: 16px;
}

.container{
  display:block; 
  margin:0; 
  padding:0;
}

.left-element{
  float:left; 
  display:block; 
  margin-top: 5px;
}

.right-element{
  float:right; 
  display:block;
  margin-top: 5px; 
  margin-right: 5px;
}

.middle-element{
  float:left;
  display:block;
  margin-left: 900px;
}

.textColor {
  text-align: center;
  color: #083772; 
}

.it-icon{
  background-image: url(img/icon/it_icon.png);
  background-position: left center; 
  background-repeat: no-repeat;
  padding-left: 20px;
}

.office-icon{
  background-image: url(img/icon/office.png);
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 20px;
}

.user-icon{
  background-image: url(img/icon/user1.png);
  background-position: left center;
  background-repeat: no-repeat; 
  padding-left: 20px;
}

.userGroup-icon{
  background-image: url(img/icon/usersGroup.png); 
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 20px;
}

.container{
  display:block; 
  margin:0; 
  padding:0;
}

.left-el{
  float:left; 
  display:block; 
  margin-top: 5px; 
  margin-right: 5px; 
  color: black;
}

body { 
  background-image: url("img/icon/fon-login.png"); 	
  background-repeat: no-repeat; 
  background-size: 100%;
}